






body{

    background-color: #ebbcba;
    font-family: 'The Girl Next Door', cursive;
}
    
nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color:#575279;
    background-color: #f2e9de;
    
}

nav ul li {
    display: inline;
    /*justify-content: space-around;*/
    text-align: justify;
    padding: 5px;
}
header {
    text-align: center;
}
header p {
    text-align: right;
    padding: 10px;

}

footer
{
    text-align: center;
}

.note {
    display: block;
    text-align: center;
    
}
textarea{
    background-color: #FAF4ED;
    color: #575279;
    font-family: 'The Girl Next Door', cursive;
    max-width: 95%;
   width: 350px;
  height: 200px;
}
.setting 
{
   display: flex;
   justify-content: space-between;
   padding-left: 5%;
    padding-right: 5%;
}
.basic_buttom{
    border: 0;
    line-height: 1.5;
    padding: 0 20px;
    font-size: 1em;
    text-align: center;
    color:#393552;
   
    border-radius: 10px;
    background-color:#c4a7e7;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    
}
.darktheme.basic_buttom
{
    background-color:#286983;
    color: #fff;
}

.file_handle
{
    text-align: right;
    
    padding-right: 5%;
}
.save
{
    color: white;
    background-color: #3e8fb0;
}
.cancel
{
    color: white;
    background-color: #b4637a;
}
.container{
    display: grid;
    padding:2px;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
    gap:2px;
    grid-auto-rows: minmax(5px, auto);
}
.myNotes
{
    grid-row: 5;
}
/*
 @media screen and (min-width:600px)
 {
     .container{
         display: grid;
         grid-template-columns:  1fr 5fr;
         gap:2px;
     }
     nav{
        text-align: center;
        flex-direction: column
     }
         
       

    
 }


 .one{
    background-color:pink;
    border: brown 2px solid;
 }
 */