/*
/*this piece of css script handles dark mode styling*/
.container.darkmode{
    background-color: darkslategray;
    color:cornsilk;
}
.basic_buttom.darkmode{
    background-color: honeydew;
}
.myNotes.darkmode{
    background-color: indigo;
    color:lightblue;
}

.darkmode{
    background-color: gray;
}
.save.darkmode{
    background-color: green;
}
.cancel.darkmode{
    background-color: black;
}
.setting.darkmode{
    background-color: darkslategray;
}
/*
this piece of css styling handles color of link inside 
*/

a:link{
    color:lightpink; 
}
a:visited{
    color:rgb(211, 98, 54);
}
.textarea.darkmode{
    color:gray;
}
::placeholder{
    color:black;}

.body.darkmode{
    background-color: darkslategray;
}

<<<<<<< HEAD



body{
    background-color: #ebbcba;
    font-family: 'The Girl Next Door', cursive;
=======
body.lightmode{
    background-color: #ebbcba;
    padding: 0;
>>>>>>> add_javascript
    margin: 0;
}
    

nav {
    text-align: right;
   
    color:#575279;
    background-color: #f2e9de;
    
}

nav ul li {
    
    /*justify-content: space-around;*/
    text-align: justify;
    padding: 1px;
    
}
header {
    text-align: center;
}
header p {
    text-align: right;
    padding: 10px;

}
h2{
    text-align: center;
}
h3
{
  font-size: 150%;

}
footer
{
    text-align: center;
}

.note {
    display: block;
    text-align: center;
    
}
textarea{
    
    background-color: #FAF4ED;
    color: #575279;
    font-family: 'The Girl Next Door', cursive;
    max-height: 95vh;
    max-width: 95vh;
    width: 70vh;
    height: 50vh;
<<<<<<< HEAD
=======
    font-size:larger;
>>>>>>> add_javascript
}
.setting 
{
   display: flex;
   justify-content: space-between;
   padding-left: 5%;
    padding-right: 5%;
}
.basic_buttom{
    border: 0;
    line-height: 1.5;
    padding: 0 20px;
    font-size: 1em;
    text-align: center;
    color:#393552;
    font-family: 'The Girl Next Door', cursive;
    border-radius: 10px;
    background-color:#c4a7e7;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    
}
.darktheme.basic_buttom
{
    background-color:#286983;
    color: #fff;
}

.file_handle
{
    text-align: right;
    
    padding-right: 5%;
}
.save
{
    color: white;
    background-color: #3e8fb0;
}
.cancel
{
    color: white;
    background-color: #b4637a;
}
.container{
    background-color: #ebbcba;
    font-family: 'The Girl Next Door', cursive;
    margin: 0;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto ;
    grid-auto-rows: minmax(5px, auto);
}
.myNotes
{
    grid-row: 2;
}

 @media screen and (min-width:600px)
 {
    .container.lightmode{
        height: 100vh;
        display: grid;
        grid-template-columns:  1fr 4fr;
        grid-template-rows: 4fr auto;
        gap: 0%;
     }
    .myNotes{
      text-align: left;
      grid-column: 1;
      grid-row: 1/-1;
     
     }

    
    .headline{

        grid-column: 2/3;
     }
    .note{
        grid-column: 2;
    }
    .setting{
        grid-column: 2;
    }
    .file_handle
    {
        grid-column: 2/3;
    }
    footer{
        grid-column: 2/3;
    }
    nav {
        
        text-align: center;
        color:#575279;
        background-color: #f2e9de;
        
    }
    nav ul li {
       
        /*justify-content: space-around;*/
   
        padding: 5px;
    }
    textarea{
    
        max-width: 95%;
        max-height: 45vh;
        width: 95%;
        height: 45vh;
    }

 }



